body {
	margin: 0;
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}
h1 {
	font-size: 28px;
	font-weight: bold;
}
h2 {
	font-weight: 500;
	margin-top: 0;
}
.dark {
	color: hsl(0, 0%, 80%);
	background-color: hsl(0, 0%, 10%);
}
