@import 'partials';

.hero {
	padding-top: 10vw;
	padding-bottom: 10vw;
	color: hsl(0, 0%, 90%);
	@media (min-width: 480px) {
		background: hsla(0, 0%, 0%, .5);
		.tagline {
			background: hsl(0, 0%, 10%);
			padding: 20px;
			text-align: center;
		}
	}
	@media (max-width: 479px) {
		@include darken-bg(.65);
		background-image: url('../img/kitchen2.jpg');
		background-size: cover;
		background-position: center;
		h1 {
			margin-top: 0;
		}
	}
}
