<link rel="stylesheet" href="/css/40-year-story.css">

<h1>H+K: A story 40 years in the making</h1>

<p>H+K International is a leading supplier of stainless steel kitchen equipment to the food service industry. We provide total restaurant solutions, incorporating manufacturing, logistics, after sales service and project management with over 1,300 employees world-wide with operations in the U.S., Mexico, U.K., Canada, China, Japan, Indonesia, and Australia. H+K is Irish-owned and the group's management and European Marketing Team are based in the company Head Quarters in Dublin.</p>
<p>The H+K story started in Canada in 1975, when a plumbing contractor, Bill Griffiths was doing some work for the McDonald's restaurants in Toronto. One of the McDonald's senior management invited him to have a look at a company called "H+K," standing for "Hospital and Kitchen Equipment" which was in trouble.</p>
<p>Bill was a tremendous salesman with a very strong personality and he was highly respected by the McDonald's people. He bought H+K and brought in his son, his accountant, and lawyer as shareholders. Three years later, McDonald's wanted to expand into Europe in 1978, at a time when a McDonald's restaurant was something of a rarity in Europe. Importing kitchen equipment from North America wasn't an attractive prospect, so Bill Griffiths was offered an opportunity.</p>
<p>"Well, would you like to set up something for us in Europe?"</p>
<p>A couple of his people went to London and looked around. Then the IDA (Industrial Development Agency in Ireland) heard about it and went into overdrive, bringing them across to Dublin and offering support if they set up in Ireland. They also found them a potential Irish partner. So a small factory was established in Ballyfermot (Dublin region) employing around 50 people and fabricating stainless steel complete kitchen packages for McDonald's in Europe.</p>
<p>Initially the U.S. market was supplied from Canada and in 1981 a production facility was set up in Dallas to support the growing demand in North America.</p>
<p>With the European increase in activity and especially in the UK, H+K set up a plant in Rugby in June 1986 in central UK, which quickly became H+K's main European production facility.</p>
<p>The requirement to produce our equipment in a low cost base country quickly became a necessity and in order to remain competitive H+K set up a plant in San Luis Potosi, Mexico in 1991. This location had multiple advantages, proximity to the US, low cost, well-situated to support Latin America&hellip;and many more.</p>
<p>In 1999, nearly 25 years after supplying the first kitchen in Canada, H+K was asked by McDonald's to look at setting up an operation base in Australia to support their expansion. It has been a great success and today the Australian company in Sydney employs 50 people and has been used to expand developments in Asia.</p>
<p>In 2002 Brian Ranalow led a management buyout which resulted in an exit from the Griffiths family. This buyout allowed the distribution of ownership to the senior management group which was mainly Dublin-based. David Bobbett succeeded Brian Ranalow as CEO and following further restructurings of the ownership over the next few years, David became the majority shareholder.</p>
<p>H+K has always been very proactive in looking at ways to better serve our customers and in 2002 the company purchased Norwood Inc. in Detroit which specialised in the resupply activity, later called H+K Norwood and now H+K Resupply which moved from Detroit in 2013 and is now based in Aurora outside Chicago with 40 employees.</p>
<p>The Mexican production facility has proven to be a great success and in 2007, in line with the forecasted expansion plans of our customer, H+K decided to increase the manufacturing capacity and the plant was expanded by 200%. That decision was strategic and continues to offer a great level of flexibility for global operations.</p>
<p>HKI Online, the online parts ordering software, was launched in 2009 and allows customers to have access to the system 24/7. Year to date in 2015, more than 80,000 online orders have been received from customers in 27 countries.</p>
<p>H+K's online project management tool followed shortly, originally known as IPM, and it is now widely used for rollouts and allows fast and seamless execution on projects.</p>
<p>Over the years H+K has always looked at ways to innovate, not only in the fabrication of the equipment but also in the overall support and business management fields. eTech, a custom-built software, was developed to manage the servicing of restaurants. This then became the 'Service Integrator' in Australia and H+K is now rolling out the system in the UK.</p>
<p>In 2014 the European team migrated the Rugby logistic and distribution centre to a new 12,000 sqm location in anticipation of business growth in Europe</p>
<p>H+K are also very proud to have received through the years some great awards in recognition of the hard work, excellence and dedication of the H+K employees. Here are some of the awards:</p>
<ul>
	<li>2008 &mdash; H+K International makes the Ernst &amp; Young 2008 Entrepreneur of the Year Shortlist</li>
	<li>2009 &mdash; H+K International Recognised as One of Ireland's Top 25 Best Managed Companies</li>
	<li>2011 and 2013 H+K received the McDonald's "Worldwide Equipment Supplier of the Year" Awards </li>
</ul>
<p>Please visit our <a href="/news">News page</a> to see the full list.</p>
<p>Starting from humble beginnings in Canada in 1975 H+K has grown, with great support from customers, to be an important global supplier:</p>
<ul>
	<li>1,300 Employees in 24 countries</li>
	<li>5 Manufacturing facilities</li>
	<li>11 Distribution centres</li>
	<li>12 sales and support representation offices</li>
	<li>$500M turnover</li>
</ul>
<p>Current management are working hard to transfer the knowledge and ethos learned over the last 40 years to the next generation. H+K will probably be a very different company 40 years from now and this is one of our core strengths, flexibility and innovation to better support our customers changing needs.</p>
