<footer>
	<div class="container">
		<div class="row">
			<div class="col col-lg-4 col-md-4">
			<div class="smallcaps">Common links</div>
			<div class="link-row">
				<div class="title">TSM</div>
				<a href="http://na.hkipop.com/tsm" target="_blank" rel="noopener">North America</a>
				<a href="http://eu.hkipop.com/tsm" target="_blank" rel="noopener">Europe</a>
				<a href="http://au.hkipop.com/tsm" target="_blank" rel="noopener">Australia</a>
			</div>
			<div class="link-row">
				<div class="title">eTech</div>
				<a href="https://etechuk.hki.com/" target="_blank" rel="noopener">UK</a>
				<a href="https://emp.hkaustralia.com.au/" target="_blank" rel="noopener">Australia</a>
			</div>
			<div class="link-row">
				<div class="title">IPM</div>
				<a href="http://na.hkipm.com/" target="_blank" rel="noopener">North America</a>
				<a href="http://ca.hkipm.com/" target="_blank" rel="noopener">Canada</a>
				<a href="http://eu.hkipm.com/" target="_blank" rel="noopener">Europe</a>
				<a href="http://www.hkipm.com/" target="_blank" rel="noopener">Global</a>
			</div>
			<div class="link-row">
				<div class="title">HKIOnline</div>
				<a href="https://www.hkionline.com" target="_blank" rel="noopener">NA</a>
				<a href="https://www.hkionline.com" target="_blank" rel="noopener">EU</a>
				<a href="https://anz.hkionline.com" target="_blank" rel="noopener">ANZ</a>
			</div>
			</div>
			<div class="col col-lg-6 col-md-6">
			<div class="smallcaps">Navigation</div>
			<div class="link-row">
				<a href="http://hki.com/"><strong>Home</strong></a>
				<a href="http://hki.com/products-services">Products & Services</a>
				<a href="http://hki.com/news">News</a>
				<a href="http://hki.com/locations">Locations</a>
				<a href="http://hki.com/careers">Careers</a>
				<a href="http://hki.com/contact">Contact</a>
			</div>
			<div class="link-row">
				<a href="http://hki.com/about-h-k/about"><strong>About H+K</strong></a>
				<a href="http://hki.com/about-h-k/leadership">Leadership</a>
				<a href="http://hki.com/about-h-k/40year-story">40 Year Story</a>
				<a href="http://hki.com/about-h-k/30-years-in-rugby">30 Years in Rugby</a>
				<a href="http://hki.com/about-h-k/privacy-policy">Privacy Policy</a>
			</div>
			</div>
			<div class="lang col col-md-2 col-lg-2">
			<div>
				<div class="smallcaps" id="lang-select-label">Language</div>
				<select id="lang-select" aria-labelledby="lang-select-label">
					<option value="en">English</option>
					<option value="fr">français</option>
					<option value="de">Deutsch</option>
					<option value="it">italiano</option>
					<option value="ru">русский</option>
					<option value="es">Español</option>
					<option value="ja">日本語</option>
					<option value="zh-chs">中文(简体) 旧版</option>
					<option value="zh-cht">中文(繁體) 舊版</option>
				</select>
			</div>
			<div>&copy; 2018 H+K International</div>
			</div>
		</div>
	</div>
</footer>

<style>
	#lang-select {
		background: hsl(0, 0%, 10%);
	}
</style>
