<div class="site-bar">
	<div class="container-fluid">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="site-block">
							<div class="site-name">
								<strong>HKI</strong>Online
								<span class="padding">&raquo;</span>
								<a href="https://www.hkionline.com/" target="_blank" rel="noopener">NA</a>
								<span class="padding">&bullet;</span>
								<a href="https://www.hkionline.com/" target="_blank" rel="noopener">EU</a>
								<span class="padding">&bullet;</span>
								<a href="https://anz.hkionline.com/" target="_blank" rel="noopener">ANZ</a>
							</div>
							<div class="site-subtitle">online equipment sales and spares</div>
						</div>
						<div class="site-block">
							<div class="site-name">
								<strong>TSM</strong>
								<span class="padding">&raquo;</span>
								<a href="http://na.hkipop.com/tsm" target="_blank" rel="noopener">NA</a>
								<span class="padding">&bullet;</span>
								<a href="http://eu.hkipop.com/tsm" target="_blank" rel="noopener">EU</a>
								<span class="padding">&bullet;</span>
								<a href="http://au.hkipop.com/tsm" target="_blank" rel="noopener">AU</a>
							</div>
							<div class="site-subtitle">total solutions management</div>
						</div>
						<div class="site-block">
							<div class="site-name">
								<strong>eTech</strong>
								<span class="padding">&raquo;</span>
								<a href="https://etechuk.hki.com/" target="_blank" rel="noopener">UK</a>
								<span class="padding">&bullet;</span>
								<a href="https://emp.hkaustralia.com.au/" target="blank">AU</a>
							</div>
							<div class="site-subtitle">equipment services</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
