<section class="container-fluid hero" id="maincontent">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="tagline">We supply equipment to the world's most successful restaurant chains.</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	conditionalBg('/img/kitchen2.jpg', '.hero', .5);
</script>
