<section class="container-fluid customer-obsessed">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-8 col-md-4 col-xs-offset-1 col-xs-10 text">
					<div class="box">
						<h1>Customer Obsessed</h1>
						<p>We proudly provide Kitchen Equipment solutions to the world's largest restaurant chains. Anticipating changing customer and market preferences, H+K is able to quickly identify and respond to our clients' needs. Whether our partnership with a customer is new or extending for fifty years, we value and nurture the relationship through world-class service and support.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	conditionalBg('/img/relationships.jpg', '.customer-obsessed', false, { position: "center left", bleed: 100 });
</script>
