<div class="container-fluid corporate-responsibility">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Corporate Responsibility</h1>
					<p>The H+K Group recognizes the importance of corporate social responsibility (CSR) and aims to fulfill its responsibilities to its stakeholders, including shareholders, employees, customers, suppliers, and the communities in which the Group's businesses operate.</p>
				</div>
			</div>
		</div>
		<div class="tree-mobile">
			<img src="img/tree-mobile.png" alt="">
		</div>
	</div>
</div>
