<div class="container-fluid contact-us">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>Contact us now as the first step toward a new definition of customer service.</p>
				</div>
				<div class="col-md-4">
					<div class="contact-us-btn-wrapper">
						<a href="#" class="contact-us-btn">Contact&nbsp;Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	conditionalBg('/img/technician.jpg', '.contact-us', false);
</script>
